<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>crearCancionServlet</servlet-name>
        <servlet-class>com.dws.servlets.crearCancionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminaCancionServlet</servlet-name>
        <servlet-class>com.dws.servlets.eliminaCancionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarCancionServlet</servlet-name>
        <servlet-class>com.dws.servlets.listarCancionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarUserServlet</servlet-name>
        <servlet-class>com.dws.servlets.listarUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bibliotecaUserServlet</servlet-name>
        <servlet-class>com.dws.servlets.bibliotecaUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearCancionServlet</servlet-name>
        <url-pattern>/crearCancionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminaCancionServlet</servlet-name>
        <url-pattern>/eliminaCancionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarCancionServlet</servlet-name>
        <url-pattern>/listarCancionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarUserServlet</servlet-name>
        <url-pattern>/listarUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bibliotecaUserServlet</servlet-name>
        <url-pattern>/bibliotecaUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
